.DS_Store
.AppleDouble
.LSOverride
*/.DS_Store
.idea/
Icon
._*
*.~
*.swp
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
composer.phar
composer.lock
vendor/
bin/
behat.yml
*.iml
.idea/
# Apps/
# apps/ads
var/
reports/*
sauce_connect.log
*.iml
*.ipr
*.iws
out/
var/tasks/
screenshots/
saucey/
