.DS_Store
.AppleDouble
.LSOverride
*/.DS_Store
.idea/
Icon
._*
*.~
*.swp
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Behat files
composer.phar
composer.lock
behat.yml

# saucey directories
vendor/
bin/
var/
reports/*
sauce_connect.log
*.iml
*.ipr
*.iws
out/
